@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.css-selector {
    background: linear-gradient(325deg, #C1A7E2, #E0D3F1, #FFFFFF);
    background-size: 400% 400%;

    -webkit-animation: gradbg 4s ease infinite;
    -moz-animation: gradbg 4s ease infinite;
    -o-animation: gradbg 4s ease infinite;
    animation: gradbg 4s ease infinite;
}

@-webkit-keyframes gradbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#mainTable {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    vertical-align: middle;
    /*width: 300px;*/
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

#leftField{
    font-family: '맑은 고딕', 'Malgun Gothic', 'Nunito', sans-serif;
    width: 208px;
    height: 208px;
    border: 10px solid #FF0000;
    cursor: pointer;
}

#rightField{
    font-family: '맑은 고딕', 'Malgun Gothic', 'Nunito', sans-serif;
    width: 208px;
    height: 208px;
    border: 10px solid #0000FF;
    cursor: pointer;
}

.middleField{
    font-family: 'Nunito', sans-serif;
    width: 100px;
    height: 25px;
    border: 10px solid #008000;
    cursor: pointer;
}

.rank-grid{
    display: grid;
    width: 1200px;
    grid-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        ".  .   r1  .   ."
        ".  r2  r3  r4  ."
        "r5 r6  r7  r8  r9";
    /*zoom: .85;*/
}

.rank-grid > li {
    counter-increment: number;
    list-style-type: none;
    transition: all 0.3s linear;
    opacity: 0.9;
    filter: alpha(opacity=100);
}

.rank-grid > li > div {
    position: relative;
}

.rank-grid > li > div {
    width:95%;
    margin: auto;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px 15px;
    font-family: 'Nunito';
    text-shadow: 0 1px 4px #000000;
}
    
.rank-grid > li > div:after {
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    font-size: 1em;
    font-weight: 700;
    content: counter(number);
    background: #ffffff;
    border-radius: 0px 0px 10px;
    color: #000000;
    text-align: center;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    font-family: 'Nunito';
    text-shadow: none;
}

.rank-grid > li:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transform:scaleX(1.04) scaleY(1.04);
}

.rank-grid > li:nth-child(1) {
    grid-area: r1;
}
.rank-grid > li:nth-child(2) {
    grid-area: r2;
}
.rank-grid > li:nth-child(3) {
    grid-area: r3;
}
.rank-grid > li:nth-child(4) {
    grid-area: r4;
}
.rank-grid > li:nth-child(5) {
    grid-area: r5;
}
.rank-grid > li:nth-child(6) {
    grid-area: r6;
}
.rank-grid > li:nth-child(7) {
    grid-area: r7;
}
.rank-grid > li:nth-child(8) {
    grid-area: r8;
}
.rank-grid > li:nth-child(9) {
    grid-area: r9;
}

A {
    text-decoration: none;
}

a:hover {
    color: #99ccff;
}